<template>
    <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="info-icon text-center icon-primary">
                            <i class="tim-icons icon-single-02"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Customers</p>
                            <h3 class="card-title">+45k</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    <i class="tim-icons icon-sound-wave"></i> All customers
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomersWidgetComponent"
    }
</script>

<style scoped>

</style>
