<template>
    <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="info-icon text-center icon-warning">
                            <i class="tim-icons icon-money-coins"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Sales</p>
                            <h3 class="card-title">{{sales}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    <i class="tim-icons icon-refresh-01"></i> This month sales
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SalesWidgetComponent",
        data() {
            return {
                sales: ''
            }
        },
        mounted() {
            this.getSalesData();
        },
        methods: {
            getSalesData() {
                let url = 'api/widget/sales';
                axios.get(url)
                    .then(response => (
                        this.sales = response.data
                    ));
            }
        }
    }
</script>

<style scoped>

</style>
