<template>
    <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="info-icon text-center icon-danger">
                            <i class="tim-icons icon-delivery-fast"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Vehicles</p>
                            <h3 class="card-title">12</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    <i class="tim-icons icon-watch-time"></i>For Hire
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VehicleWidgetComponent"
    }
</script>

<style scoped>

</style>
