<template>
    <div class="col-md-5">
        <div class="card ">
            <div class="card-header">
                <div class="float-left">
                    <h4 class="card-title">Items Variants</h4>
                </div>
                <div v-if="product.id" class="float-right">
                    <button @click="createItemVariant()" class="btn btn-primary btn-round btn-icon" data-toggle="modal"
                            data-target="#modalItemVariant">
                        <i class="tim-icons icon-simple-add"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="variant in variants">
                            <td>{{variant.size}} KG</td>
                            <td>Rs {{parseFloat(variant.price).toFixed(2)}}</td>
                            <td>
                                <button type="button" @click="editVariant(variant)" data-toggle="modal"
                                        data-target="#modalItemVariant"
                                        class="btn btn-success btn-link btn-sm btn-icon "
                                        data-original-title="Refresh" title="">
                                    <i class="tim-icons icon-pencil"></i>
                                </button>

                                <button type="button" rel="tooltip" @click="deleteVariant(variant)"
                                        class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                        title="">
                                    <i class="tim-icons icon-simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div v-bind:class="{ display: isDisplay }" class="modal fade modal-black" id="modalItemVariant" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h6 v-if="edit" class="title title-up">Edit Variant</h6>
                        <h6 v-else class="title title-up">New Variant</h6>
                    </div>
                    <form id="app" method="post">
                        <div class="modal-body">
                            <div class="col-md-12  mt-3">
                                <input type="number" v-model="variant.size" name="name" placeholder="Variant Size "
                                       class="form-control">
                            </div>
                            <div class="col-md-12  mt-3">
                                <input type="number" v-model="variant.price" name="price" placeholder="Variant Price"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <input type="button" v-if="edit" @click="updateVariant()" value="update"
                                   class="btn btn-info btn-round">
                            <input type="button" v-else @click="saveVariant()" value="save"
                                   class="btn btn-info btn-round">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ItemVariantsComponent",
        props: {
            productVariants: {},
            product: Object
        },
        data() {
            return {
                isDisplay: true,
                variants: '',
                variant: {'item_id': '', 'size': '', 'price': ''},
                edit: '',
                errors: [],
                messages: [],
            }
        },
        methods: {
            createItemVariant(e) {
                if (this.product.id == "") {
                    this.isDisplay = false;
                    notification.showErrorMessage('Please Select Item');
                }
            },
            updateVariant() {

            },
            saveVariant() {
                if (this.checkForm()) {
                    let self = this;
                    let item = {};
                    axios.post('api/variants', {
                            item_id: self.product.id,
                            size: self.variant.size,
                            price: self.variant.price
                        }
                    ).then(function (response) {
                        let status = response.data.status;

                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.push(response.data.message);
                            self.clearForm();
                            item = response.data.data;
                            self.variant = item;
                            self.variants.push(self.variant);
                        }
                    }).catch(function (error) {
                        self.errors = [];
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            editVariant(variant) {

            },
            deleteVariant(variant) {
                let self = this;
                let url = 'api/variants/' + variant.id;
                Swal.fire({
                    title: 'Are you sure? Do You want to Delete ?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(url)
                            .then(function (response) {
                                if (response.data.status == 'success') {
                                    Swal.fire(
                                        'Deleted!',
                                        response.data.message,
                                        'success'
                                    );
                                } else {
                                    Swal.fire(
                                        'Sorry !',
                                        'Something went wrong !',
                                        'error'
                                    );
                                }
                            }).catch(function (error) {
                            Swal.fire(
                                'Sorry !',
                                error,
                                'error'
                            );
                        })
                    }
                })
            },
            checkForm() {
                if (this.variant.size && this.variant.price) {
                    return true;
                }
                this.errors = [];
                if (!this.variant.size) {
                    this.errors.push('Size required.');
                }
                if (!this.variant.price) {
                    this.errors.push('Price required.');
                }
            },
            clearForm() {
                this.variant = {'item_id': '', 'size': '', 'price': ''}
            },
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
            productVariants: function (val) {
                this.variants = val;
                console.log(val);
            }
        }
    }
</script>

<style lang="scss">

</style>
