<template>
    <div class="row">
        <div class="col-md-7">
            <div class="card ">
                <div class="card-header">
                    <div class="float-left">
                        <h4 class="card-title"> Main Items</h4>
                    </div>
                    <div class="float-right">
                        <button @click="createProduct()" class="btn btn-primary btn-round btn-icon" data-toggle="modal"
                                data-target="#myModal">
                            <i class="tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="product in products" @click="selectRow(product)"
                                :class="{ selected : selectedrow == product.id }">
                                <td>{{product.name}}</td>
                                <td>{{product.type}}</td>
                                <td>Rs {{product.price.toFixed(2)}}</td>
                                <td class="text-center">

                                    <button type="button" @click="editProduct(product)" data-toggle="modal"
                                            data-target="#myModal"
                                            class="btn btn-success btn-link btn-sm btn-icon "
                                            data-original-title="Refresh" title="">
                                        <i class="tim-icons icon-pencil"></i>
                                    </button>

                                    <button type="button" rel="tooltip" @click="deleteProduct(product)"
                                            class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                            title="">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <item-variants-component :product-variants="variants" :product="product"></item-variants-component>

        <div v-bind:class="{ display: isDisplay }" class="modal fade modal-black" id="myModal" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h6 v-if="edit" class="title title-up">Edit Product</h6>
                        <h6 v-else class="title title-up">New Product</h6>
                    </div>
                    <form id="app" method="post">
                        <div class="modal-body">
                            <div class="col-md-12 mt-3">
                                <v-select label="name" :options="types" v-model="product.type"
                                          placeholder="Select Type">
                                </v-select>
                            </div>
                            <div class="col-md-12  mt-3">
                                <input type="text" v-model="product.name" name="name" placeholder="Product Name"
                                       class="form-control">
                            </div>
                            <div class="col-md-12  mt-3">
                                <input type="number" v-model="product.price" name="price" placeholder="Product Price"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <input type="button" v-if="edit" @click="updateProduct()" value="update"
                                   class="btn btn-info btn-round">
                            <input type="button" v-else @click="saveProduct()" value="save"
                                   class="btn btn-info btn-round">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ItemIndexComponent",
        data() {
            return {
                products: '',
                product: {id: '', type: '', name: '', price: ''},
                types: [
                    {"id": 1, "name": "Paddy"},
                    {"id": 2, "name": "Rice"}
                ],
                errors: [],
                messages: [],
                edit: '',
                isDisplay: false,
                selectedrow: '',
                variants: {}
            }
        },
        mounted() {
            this.products = this.getProducts();
        },
        methods: {
            createProduct() {
                this.edit = false;
                this.isDisplay = true;
            },
            getProducts() {
                axios.get('api/all/items')
                    .then(response => (
                        this.products = response.data.data
                    ));
            },
            saveProduct() {
                if (this.checkForm()) {
                    let self = this;
                    let item = {};
                    axios.post('api/items', {
                            type: self.product.type.id,
                            name: self.product.name,
                            price: self.product.price
                        }
                    ).then(function (response) {
                        let status = response.data.status;
                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.push(response.data.message);
                            self.clearForm();
                            item = response.data.data;
                            self.product = item;
                            self.products.push(self.product);
                        }
                    }).catch(function (error) {
                        self.errors = [];
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            checkForm() {
                if (this.product.type && this.product.name && this.product.price) {
                    return true;
                }
                this.errors = [];
                if (!this.product.type) {
                    this.errors.push('Type required.');
                }
                if (!this.product.name) {
                    this.errors.push('Name required.');
                }
                if (!this.product.price) {
                    this.errors.push('price required.');
                }
            },
            clearForm() {
                this.product = {
                    id: '',
                    type: '',
                    name: '',
                    price: ''
                }
            },
            editProduct(product) {
                this.product = {
                    id: product.id,
                    type: product.type,
                    name: product.name,
                    price: product.price
                };
                this.edit = true;
                this.isDisplay = true;

            },
            updateProduct() {
                if (this.checkForm()) {
                    let self = this;
                    let url = 'api/items/' + self.product.id;
                    axios.patch(url, {
                            type: self.product.type.id,
                            name: self.product.name,
                            price: self.product.price
                        }
                    ).then(function (response) {
                        let status = response.data.status;
                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.pop(response.data.message);
                            self.clearForm();
                            self.getProducts();
                        }
                    }).catch(function (error) {
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            deleteProduct(product) {
                let self = this;
                let url = 'api/items/' + product.id;
                Swal.fire({
                    title: 'Are you sure? Do You want to Delete ?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(url)
                            .then(function (response) {
                                if (response.data.status == 'success') {
                                    Swal.fire(
                                        'Deleted!',
                                        response.data.message,
                                        'success'
                                    );
                                    self.getProducts();
                                } else {
                                    Swal.fire(
                                        'Sorry !',
                                        'Something went wrong !',
                                        'error'
                                    );
                                }
                            }).catch(function (error) {
                            Swal.fire(
                                'Sorry !',
                                'Something went wrong !',
                                'error'
                            );
                        })
                    }
                })

            },
            selectRow(product) {
                this.selectedrow = product.id;
                this.getProduct(product);
                this.variants = product.variants;
                this.product=product;
            },
            getProduct(product){
                let self = this;
                let url = 'api/items/' + product.id;
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status == 'failed') {
                        self.errors.push(response.data.message);
                    } else {
                        self.messages = [];
                        self.messages.pop(response.data.message);
                        self.product=response.data.data
                    }
                }).catch(function (error) {
                    self.errors.push(error);
                }).finally(function (error) {
                    self.isDisplay = false;
                });
            }
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
        }
    }
</script>

<style lang="scss">
    tbody tr:hover {
        background-color: #1d8cf8;
    }

    .selected {
        background-color: #ff9f89;
    }
</style>
