<template>
    <div class="col-md-5">
        <div class="card ">
            <div class="card-header">
                <div class="float-left">
                    <h4 class="card-title">Intake Stockpiles</h4>
                </div>
                <div class="float-right">
                    <button @click="createIntakeStockpile()" class="btn btn-primary btn-round btn-icon"
                            data-toggle="modal"
                            data-target="#myModal">
                        <i class="tim-icons icon-simple-add"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Name</th>
                            <th>Current Stock</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr @click="selectRow(intakeStockpile)" v-for="intakeStockpile in laravelData.data">
                            <!--                                :class="{ selected : selectedrow == client.id }">-->
                            <td>{{(intakeStockpile.year==null)?intakeStockpile.stockpile.name:intakeStockpile.stockpile.name+' '+intakeStockpile.year+' '+intakeStockpile.intake}}</td>
                            <td>{{parseFloat(intakeStockpile.balance).toFixed(2) + 'KG'}}</td>
                            <td class="text-center">

                                <button type="button" @click="editIntakeStockpile(intakeStockpile)" data-toggle="modal"
                                        data-target="#myModal"
                                        class="btn btn-success btn-link btn-sm btn-icon "
                                        data-original-title="Refresh" title="">
                                    <i class="tim-icons icon-pencil"></i>
                                </button>

                                <button type="button" rel="tooltip" @click="deletetIntakeStockpile(intakeStockpile)"
                                        class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                        title="">
                                    <i class="tim-icons icon-simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <pagination :data="laravelData" @pagination-change-page="getIntakeStockpiles"></pagination>
                </div>
            </div>
        </div>

        <div v-bind:class="{ display: isDisplay }" class="modal fade modal-black" id="myModal" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h6 v-if="edit" class="title title-up">Edit Intake Stockpile</h6>
                        <h6 v-else class="title title-up">New Intake Stockpile</h6>
                    </div>
                    <form id="app" method="post">
                        <div class="modal-body">
                            <div class="col-md-12 mt-3">

                            </div>
                            <div class="col-md-12  mt-3">
                                <input type="text" v-model="intakeStockpile.name" name="name" placeholder="Client Name"
                                       class="form-control">
                            </div>


                        </div>
                        <div class="modal-footer justify-content-center">
                            <input type="button" v-if="edit" @click="updateIntakeStockpile()" value="update"
                                   class="btn btn-info btn-round">
                            <input type="button" v-else @click="saceIntakeStockpile()" value="save"
                                   class="btn btn-info btn-round">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IntakeStockpileComponent",
        props: {
            intakeStockpileList: {},
            selectedStockpile: {}
        },
        mounted() {
            this.getIntakeStockpiles();
        },
        data() {
            return {
                intakeStockpile:{},
                intakeStockpiles:'',
                isDisplay: true,
                laravelData: {},
                edit: '',
                errors: [],
                messages: [],
            }
        },
        methods: {
            getIntakeStockpiles(page = 1) {
                axios.get('api/all/intake-stockpiles?page=' + page)
                    .then(response => {
                        this.laravelData = response.data;
                    });
            },
            createItemVariant() {
                this.item = [];
                let url = 'api/category/' + this.category.id + '/available-items';
                let self = this;
                axios.get(url)
                    .then(response => (
                        self.availableItemsForCategory = response.data.data
                    ));
            },
            addProduct() {
                if (this.checkForm()) {
                    let self = this;
                    let url = 'api/category/' + this.category.id + '/add-item';
                    axios.post(url, {
                            item_id: self.item.id,
                            price: self.item.price
                        }
                    ).then(function (response) {
                        let status = response.data.status;

                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.push(response.data.message);
                            self.getCategory(self.category);
                        }
                    }).catch(function (error) {
                        self.errors = [];
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            getCategory(category) {
                let self = this;
                let url = 'api/category/' + category.id;
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.variants = response.data.data.products;
                    }
                })
            },
            deleteVariant(variant) {
                let self = this;
                let url = 'api/variants/' + variant.id;
                Swal.fire({
                    title: 'Are you sure? Do You want to Delete ?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(url)
                            .then(function (response) {
                                if (response.data.status == 'success') {
                                    Swal.fire(
                                        'Deleted!',
                                        response.data.message,
                                        'success'
                                    );
                                } else {
                                    Swal.fire(
                                        'Sorry !',
                                        'Something went wrong !',
                                        'error'
                                    );
                                }
                            }).catch(function (error) {
                            Swal.fire(
                                'Sorry !',
                                error,
                                'error'
                            );
                        })
                    }
                })
            },
            checkForm() {
                if (this.item.id && this.item.price) {
                    return true;
                }
                this.errors = [];
                if (!this.item.id) {
                    this.errors.push('Select item');
                }
                if (!this.item.price) {
                    this.errors.push('Price required.');
                }
            },
            clearForm() {
                this.item = {'id': '', 'price': '', 'name': ''}
            },
            selectItem(value) {
                console.log(value);
                // this.item={
                //     name:item.name,
                //     price:item.price
                // };
            }
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
            availableItemsForCategory: function (val) {
                let self = this;
                self.itemList = [];
                $.each(val, function (key, value) {
                    let item = null;
                    let name = value.item.name + ' ' + value.size + ' Kg';
                    let price = parseFloat(value.price).toFixed(2);
                    item = {
                        id: value.id,
                        name: name,
                        price: price
                    }
                    self.itemList.push(item);
                });
            },
            categoryProducts: function (val) {
                this.variants = val;
            }
        }
    }
</script>

<style lang="scss">
    ul li, ol li {
        color: #000000;
    }
</style>
