<template>
    <div class="row">
        <category-product-component :category-products="variants" :category="category"></category-product-component>

        <div class="col-md-5">
            <div class="card ">
                <div class="card-header">
                    <div class="float-left">
                        <h4 class="card-title"> Product Categories</h4>
                    </div>
                    <div class="float-right">
                        <button @click="createCategory()" class="btn btn-primary btn-round btn-icon" data-toggle="modal"
                                data-target="#myModal">
                            <i class="tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>Name</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="category in categories" @click="selectRow(category)"
                                :class="{ selected : selectedrow == category.id }">
                                <td>{{category.name}}</td>
                                <td class="text-center">

                                    <button type="button" @click="editCategory(category)" data-toggle="modal"
                                            data-target="#myModal"
                                            class="btn btn-success btn-link btn-sm btn-icon "
                                            data-original-title="Refresh" title="">
                                        <i class="tim-icons icon-pencil"></i>
                                    </button>

                                    <button type="button" rel="tooltip" @click="deleteCategory(category)"
                                            class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                            title="">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div v-bind:class="{ display: isDisplay }" class="modal fade modal-black" id="myModal" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h6 v-if="edit" class="title title-up">Edit Category</h6>
                        <h6 v-else class="title title-up">New Category</h6>
                    </div>
                    <form id="app" method="post">
                        <div class="modal-body">
                            <div class="col-md-12  mt-3">
                                <input type="text" v-model="category.name" name="name" placeholder="Category Name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <input type="button" v-if="edit" @click="updateCategory()" value="update"
                                   class="btn btn-info btn-round">
                            <input type="button" v-else @click="saveCategory()" value="save"
                                   class="btn btn-info btn-round">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductIndexComponent",
        data() {
            return {
                categories: '',
                category: {id: '',name: ''},
                errors: [],
                messages: [],
                edit: '',
                isDisplay: false,
                selectedrow: '',
                variants: {}
            }
        },
        mounted() {
            this.categories = this.getCategories();
        },
        methods: {
            createCategory() {
                this.edit = false;
                this.isDisplay = true;
            },
            getCategories() {
                axios.get('api/all/category')
                    .then(response => (
                        this.categories = response.data.data
                    ));
            },
            saveCategory() {
                if (this.checkForm()) {
                    let self = this;
                    let item = {};
                    axios.post('api/category', {
                            name: self.category.name,
                        }
                    ).then(function (response) {
                        let status = response.data.status;
                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.push(response.data.message);
                            self.clearForm();
                            item = response.data.data;
                            self.category = item;
                            self.categories.push(self.category);
                            self.category =[];
                        }
                    }).catch(function (error) {
                        self.errors = [];
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            checkForm() {
                if (this.category.name) {
                    return true;
                }
                this.errors = [];
                if (!this.category.name) {
                    this.errors.push('Name required.');
                }
            },
            clearForm() {
                this.category = {
                    id: '',
                    name: '',
                }
            },
            editCategory(category) {
                this.category = {
                    id: category.id,
                    name: category.name,
                };
                this.edit = true;
                this.isDisplay = true;

            },
            updateCategory() {
                if (this.checkForm()) {
                    let self = this;
                    let url = 'api/category/' + self.category.id;
                    axios.patch(url, {
                            name: self.category.name,
                        }
                    ).then(function (response) {
                        let status = response.data.status;
                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else {
                            self.messages = [];
                            self.messages.pop(response.data.message);
                            self.clearForm();
                            self.getCategories();
                            self.isDisplay = false;
                        }
                    }).catch(function (error) {
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                    });
                } else {
                    console.log(this.errors);
                }
            },
            deleteCategory(category) {
                let self = this;
                let url = 'api/category/' + category.id;
                Swal.fire({
                    title: 'Are you sure? Do You want to Delete ?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(url)
                            .then(function (response) {
                                if (response.data.status == 'success') {
                                    Swal.fire(
                                        'Deleted!',
                                        response.data.message,
                                        'success'
                                    );
                                    self.getCategories();
                                } else {
                                    Swal.fire(
                                        'Sorry !',
                                        'Something went wrong !',
                                        'error'
                                    );
                                }
                            }).catch(function (error) {
                            Swal.fire(
                                'Sorry !',
                                'Something went wrong !',
                                'error'
                            );
                        })
                    }
                })

            },
            selectRow(category) {
                this.selectedrow = category.id;
                this.getCategory(category);
                this.variants = category.products;
                this.category=category;
            },
            getCategory(category){
                let self = this;
                let url = 'api/category/' + category.id;
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status == 'failed') {
                        self.errors.push(response.data.message);
                    } else {
                        self.messages = [];
                        self.messages.pop(response.data.message);
                        self.product=response.data.data
                    }
                }).catch(function (error) {
                    self.errors.push(error);
                }).finally(function (error) {
                    self.isDisplay = false;
                });
            }
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
        }
    }
</script>

<style scoped>

</style>
