<template>
    <div class="row">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-header">
                    <div class="float-left">
                        <h4 class="card-title"> Load Packed Rice Into Stores</h4>
                    </div>
                    <div class="float-right">
                        <button @click="addInput" class="btn btn-primary btn-round btn-icon" data-toggle="modal"
                                data-target="#products">
                            <i class="tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body load-table ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>Product</th>
                                <th>Storage</th>
                                <th>Quantity [packs]</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="item in rows">
                                <td>
                                    <multiselect v-model="item.product" deselect-label="Can't remove this value"
                                                 track-by="name" label="name" placeholder="Select one" :options="products"
                                                 :searchable="true" :allow-empty="false">
                                    </multiselect>
                                </td>
                                <td>
                                    <multiselect v-model="item.stockpile" deselect-label="Can't remove this value"
                                                 track-by="name" label="name" placeholder="Select one" :options="stockpiles"
                                                 :searchable="true" :allow-empty="false">
                                    </multiselect>
                                </td>
                                <td>
                                    <input v-model="item.quantity" type="number" name="quantity" placeholder="Quantity"
                                           class="form-control">
                                </td>
                                <td>
                                    <button disabled type="button" rel="tooltip"
                                            class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                            title="">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" rel="tooltip" @click="loadRice"
                            class="btn btn-danger btn-block" data-original-title="Delete"
                            title="">
                        Load Rice
                    </button>
                </div>
            </div>
        </div>
        <rice-load-table-component :is-change="messages"></rice-load-table-component>
    </div>
</template>

<script>
    export default {
        name: "RiceLoadComponent",
        data() {
            return {
                rows: [{
                    id: 0,
                }],
                key: '',
                counter: 1,
                value: null,


                products: [],
                stockpiles: [],
                errors: [],
                messages: [],
            }
        },
        mounted() {
            this.getProducts();
            this.getStockpiles();
        },
        methods: {
            getProducts() {
                let self = this;
                let url = '/api/all/products';
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.products = response.data.data;
                    }
                });
            },
            getStockpiles() {
                let self = this;
                let url = '/api/all/rice/stockpiles';
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.stockpiles = response.data.data;
                    }
                });
            },
            addInput() {
                this.rows.push({
                    id: ++this.counter,
                });
            },
            loadRice() {
                let self = this;
                let items = self.rows;
                let url = '/api/load/products/rice';
                axios.post(url, {items: items}).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.messages = [];
                        self.messages.push(response.data.message);
                        self.rows = [{
                            id: 0,
                        }];
                    } else {
                        self.errors = [];
                        self.errors.push(response.data.message);
                    }

                });
            }
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
        }
    }
</script>

<style lang="scss">
    .load-table .table-responsive {
        height: 400px;
    }
</style>
