<template>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header">
                <div class="float-left">
                    <h4 class="card-title">Recent Loading Details</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Storage</th>
                            <th>Product</th>
                            <th>Quantity [packs]</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="transaction in transactions">
                            <td>{{transaction.intake_stockpile.stockpile.name+' '+transaction.intake_stockpile.year+' '+transaction.intake_stockpile.intake}}
                            </td>
                            <td>{{transaction.product.category.name+' '+transaction.product.variant.item.name+' '+ transaction.product.variant.size+' KG'}}
                            </td>
                            <td>{{ transaction.pack_size }} packs</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "RiceLoadTableComponent",
        props: {
            isChange: {},
        },
        data() {
            return {
                transactions: {}
            }
        },
        mounted() {
            this.getRecentRiceLoading();
        },
        methods: {
            getRecentRiceLoading() {
                let self = this;
                let url = '/api/all/rice/load';
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.transactions = response.data.data;
                    }
                });
            },
        },
        watch: {
            isChange: function (val) {
                this.getRecentRiceLoading();
            },
        }
    }
</script>

<style scoped>

</style>
