<template>
    <div class="loading" v-if="show">
        <atom-spinner
                      :animation-duration="1000"
                      :size="100"
                      :color="'#ff1d5e'"
        />
        <p style="color: orangered"> Loading ....</p>
    </div>

</template>

<script>
    import {AtomSpinner} from 'epic-spinners'

    export default {
        components: {
            AtomSpinner
        },
        props: {
            show: false
        }
    }
</script>

<style scoped>
    .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
</style>
