<template>
    <div class="col-md-3" v-if="client.name">
        <div class="card card-user">
            <div class="card-body">
                <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="#">
                        <img class="avatar" src='/black/img/emilyz.jpg'alt="">
                        <h5 class="title">{{client.name}}</h5>
                    </a>
                </div>
                <p class="description text-center">
                    {{client.address}}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ClientsDetailsComponent",
        props:{
            client:Object,
        }
    }
</script>

<style scoped>

</style>
