<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="float-left">
                        <h4 class="card-title"> Invoices</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>#</th>
                                <th>Invoice Number</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Invoice Date</th>
                                <th>Due Date</th>
                                <th>Payment</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="(invoice,key) in laravelData.data">
                                <td>{{++key}}</td>
                                <td>{{invoice.invoice_number}}</td>
                                <td>Sumanadasaa apico stores</td>
                                <td>Rs {{parseFloat(invoice.total).toFixed(2)}}</td>
                                <td>{{invoice.invoice_date}}</td>
                                <td>{{invoice.due_date}}</td>
                                <td>
                                    <a v-if="invoice.status==1" class="btn btn-success btn-sm ">
                                        paid by cash
                                    </a>
                                    <a v-if="invoice.status==2" class="btn btn-info btn-sm ">
                                        paid by cheque
                                    </a>
                                    <a v-if="invoice.status==3" href="#" class="btn btn-warning btn-sm ">
                                        pending
                                    </a>
                                    <a v-if="invoice.status==4" href="#" class="btn btn-danger btn-sm ">
                                        outdated
                                    </a>
                                </td>

                                <td class="text-center">

                                    <a :href="'invoice/'+invoice.invoice_number+'.pdf/stream'"  target="_blank" class="btn btn-success btn-link btn-md btn-icon ">
                                        <i class="fas fa-print"></i>
                                    </a>

                                    <a :href="'invoice/'+invoice.invoice_number+'.pdf/download'" target="_blank" class="btn btn-info btn-link btn-md btn-icon">
                                        <i class="fas fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination :data="laravelData" @pagination-change-page="getInvoices"></pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "InvoiceTableComponent",
        data() {
            return {
                laravelData: {}
            }
        },
        mounted() {
            this.getInvoices();
        },
        methods: {
            getInvoices(page = 1) {
                axios.get('api/all/invoices?page=' + page)
                    .then(response => {
                        this.laravelData = response.data;
                    });
            },
        }
    }
</script>

<style scoped>

</style>
