<template>
    <div class="row">
        <my-atom-spinner :show="spinner"></my-atom-spinner>
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <multiselect v-model="invoice.store" deselect-label="Can't remove this value"
                                         track-by="name" label="name" placeholder="Select Store" :options="stores"
                                         :searchable="true" :allow-empty="false">
                            </multiselect>
                        </div>
                        <div class="col-md-6">
                            <multiselect v-model="invoice.client" deselect-label="Can't remove this value"
                                         track-by="name" label="name" placeholder="Select Customer" :options="clients"
                                         :searchable="true" :allow-empty="false" @input="getClient">
                            </multiselect>
                        </div>
                    </div>
                </div>
                <div class="card-body load-table ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th width="50%">Product</th>
                                <th>Rate</th>
                                <th>Quantity [packs]</th>
                                <th>Value</th>
                                <th class="text-center">
                                    <div class="float-right">
                                        <button @click="addInput" class="btn btn-primary btn-round btn-icon">
                                            <i class="tim-icons icon-simple-add"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>

                            </thead>

                            <tbody>

                            <tr v-for="item in rows">
                                <td>
                                    <multiselect v-model="item.product" deselect-label="Can't remove this value"
                                                 track-by="product_name" label="product_name" placeholder="Select one"
                                                 :options="products"
                                                 :searchable="true" :allow-empty="false"
                                                 @input="setRate(item)">
                                    </multiselect>
                                </td>
                                <td>
                                    <input v-model="item.rate" type="number" name="rate" placeholder="Rate"
                                           class="form-control" @change="setGrandTotal">
                                </td>
                                <td>
                                    <input v-model="item.quantity" type="quantity" name="quantity"
                                           placeholder="Quantity"
                                           class="form-control" @change="setGrandTotal">
                                </td>
                                <td>
                                    Rs {{parseFloat(item.total = ((item.rate)?item.rate:0) *
                                    ((item.quantity)?item.quantity:0)).toFixed(2)}}
                                    <!--                                    <input disabled v-model="item.total = item.rate * item.quantity" type="number" name="total" placeholder="Value"-->
                                    <!--                                           class="form-control">-->
                                </td>
                                <td>
                                    <button type="button" rel="tooltip" disabled
                                            class="btn btn-danger btn-link btn-sm " data-original-title="Delete"
                                            title="">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <multiselect v-model="invoice.driver" tag-placeholder="Add this as new driver"
                                         placeholder="Search or add a Driver" label="name" track-by="id"
                                         :options="drivers" :multiple="false" :taggable="true"
                                         @tag="addTag"></multiselect>
                        </div>
                        <div class="col-md-6">
                            <p>Grand Total : Rs {{parseFloat(total).toFixed(2)}}</p>
                        </div>

                        <div class="col-md-3 mt-2">
                            <button type="button" rel="tooltip"
                                    class="btn btn-primary btn-block" data-original-title="save"
                                    title="save" @click="saveInvoice(false)">
                                save
                            </button>
                        </div>
                        <div class="col-md-4 mt-2">
                            <button type="button" rel="tooltip"
                                    class="btn btn-success btn-block" data-original-title="Delete"
                                    title="" @click="saveInvoice('stream')">
                                save and print
                            </button>
                        </div>
                        <div class="col-md-5 mt-2">
                            <button type="button" rel="tooltip"
                                    class="btn btn-warning btn-block" data-original-title="Delete"
                                    title="" @click="saveInvoice('download')">
                                save and download
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <clients-details-component :client="client"></clients-details-component>
    </div>
</template>

<script>
    export default {
        name: "InvoiceIndexComponent",
        data() {
            return {
                value: [],
                stores: [
                    {name: 'Hasinidu Rice Mill', id: 1},
                    {name: 'Hasinidu Rice Mill Steam', id: 2},
                ],
                invoice: {driver: ''},
                clients: [],
                drivers: [],
                products: [],
                counter: 1,
                rows: [{
                    id: 0,
                }],
                total: 0,
                errors: [],
                messages: [],
                client: {},
                spinner:false,
            }
        },
        mounted() {
            this.getClients();
            this.getDrivers();
            this.getAvailableProducts();
        },
        methods: {
            addTag(newTag) {
                const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                this.drivers.push(tag);
                this.invoice.driver = tag;
            },
            getClients() {
                axios.get('/api/all/clients')
                    .then(response => {
                        this.clients = response.data.data;
                    });
            },
            getClient() {
                axios.get('/api/client/' + this.invoice.client.id)
                    .then(response => {
                        this.client = response.data.data;
                    });
            },
            getDrivers() {
                axios.get('/api/all/drivers')
                    .then(response => {
                        this.drivers = response.data.data;
                    });
            },
            getAvailableProducts() {
                let self = this;
                let url = '/api/available/products/';
                axios.get(url).then(function (response) {
                    let status = response.data.status;
                    if (status != 'failed') {
                        self.products = response.data.data;
                    }
                });
            },
            addInput() {
                this.rows.push({
                    id: ++this.counter,
                });
            },
            setRate(item) {
                item.rate = item.product.price;
                this.setGrandTotal();
            },
            setGrandTotal() {
                let self = this;
                self.total = 0;
                $.each(self.rows, function (key, value) {
                    self.total = self.total + value.total;
                });
            },
            checkForm() {
                if (this.invoice.store && this.invoice.client && this.invoice.driver && this.rows[0].total) {
                    return true;
                }
                this.errors = [];
                if (!this.invoice.store) {
                    this.errors.push('Store required.');
                }
                if (!this.invoice.client) {
                    this.errors.push('Client required.');
                }
                if (!this.invoice.driver) {
                    this.errors.push('Driver required.');
                }
                if (!this.rows[0].total) {
                    this.errors.push('select at least one product');
                }
            },
            clearForm() {
                this.invoice = {
                    store: '',
                    client: '',
                    driver: '',
                };
                this.rows = [{
                    id: 0,
                }];
            },
            saveInvoice(pdf = false) {
                let items = this.rows;
                let invoice = this.invoice;
                let self = this;
                if (this.checkForm()) {
                    self.spinner=true;
                    let url = '/api/invoice';
                    axios.post(url, {
                            invoice: invoice,
                            items: items,
                            pdf: pdf
                        }
                    ).then(function (response) {
                        let status = response.data.status;
                        if (status == 'failed') {
                            self.errors.push(response.data.message);
                        } else if (status == 'success') {
                            self.messages = [];
                            self.messages.push(response.data.message);
                            self.clearForm();
                        } else {
                            let url = response.data;
                            window.open(url);
                            if (pdf == 'stream') {
                                self.clearForm();
                            } else {
                                self.clearForm();
                                self.messages = [];
                                self.messages.push('Invoice Created and Download Successfully');
                            }

                        };
                    }).catch(function (error) {
                        self.errors = [];
                        self.errors.push(error);
                    }).finally(function (error) {
                        self.isDisplay = false;
                        self.spinner=false;
                    });
                }

            },
        },
        watch: {
            errors: function (val) {
                $.each(val, function (key, value) {
                    notification.showErrorMessage(value);
                });
            },
            messages: function (val) {
                $.each(val, function (key, value) {
                    notification.showSuccessMessage(value);
                });
            },
        }

    }
</script>

<style scoped>

</style>
